@model WebApplication9.Models.Auction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Auction_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auction_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auction_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auction_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auction_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auction_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Close_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Close_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auction_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auction_Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Auction_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
