@model IEnumerable<WebApplication9.Models.Donor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suite_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor_Zip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suite_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor_Zip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Donor_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Donor_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Donor_ID })
        </td>
    </tr>
}

</table>
